body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', "Helvetica Neue",Helvetica,Arial,sans-serif,Cabin,'Hammersmith One', sans-serif, 'PT Sans', sans-serif;;
    color: #000;
    background-color: #fff;
    -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}
@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to { opacity: 1; }
}


html {
    width: 100%;
    height: 100%;
}

.black {
  opacity: 0.5;
  background: #fff;
}


h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	text-transform: uppercase;
	font-family: Lato, "Lato Black", "Lato Light";
	font-weight: 700;
	letter-spacing: 1px;
	color: #222;
}

h1 {
  margin: 0 0 20px;
  font-family: Lato, "Lato Black", "Lato Light";
  font-weight: 700;
  letter-spacing: 1px;
  color: #222;
}





@media(min-width:767px) {
    p {
        margin: 0 0 25px;
        line-height: 1.6;
    }
}

.description q {
	font-size: 14px;
	color: #333;
	text-align:left;
}
	

.section-subtitle {
	text-align: center;
	padding: 30px 0;
	font-size: 20px;
}

.section-header p {
	font-size: 1.5em
}

.section-title {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: 5px;
	text-align: center;
	color: #555;
	text-transform: uppercase;

}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

.intro {
  height: 800px;
}

.intro .container-one{
  text-align: right;
  font-weight: 300;
  top: 50%;

  padding-right: 40px;
  font-size: 60px;
  margin-top: 40%;
  border-right: black 1px solid;

}

.intro .container-one h1 {
  text-align: right;
  font-weight: 300;
  margin: 0 auto;
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
}

.intro .container-two{
  text-align: left;
  font-weight: 300;
  top: 50%;
  padding-left: 40px;
  font-size: 60px;
  margin-top: 40%;

}

.intro .container-two h2 {
  font-weight: 300;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro-body {
	display: table-cell;
	vertical-align: middle;
}

.brand-heading {
    font-size: 40px;
	 font-family: 'PT Sans', sans-serif;
	 font-weight: 400;
	}

.intro-text {
	font-size: 18px;
	color: #fff;
	
	}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.slides .container . {

}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
	padding-top: 50px;
	font-size: 10px;
	text-align: left;
}
.fa .fa-google-plus:hover {
  color: black;
}
.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 125px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #28c3ab;
    color: #28c3ab;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(27,114,140,.6);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(27,114,140,.6);
}


.navbar-nav {
  margin: 0 auto;
}

.top-nav-collapse {
  top: -51;
}

.navbar-nav li a:hover {
  background-color: #000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
  background-color: #e7e7e7;
  color: #222;
}

.navbar-nav a:hover {
  background-color: #222;
  color: white;
}

.navbar-nav a {
  color: white;
  transition: none;
}


.navbar {
  margin: 0 auto;
  width: 100%; 
  padding: 0px;
  border-bottom: 1px solid #bbb;
  text-transform: uppercase;
  font-family: Helvetica,Arial,sans-serif;
  background-color: #fff;
}
.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}



img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.social-icons .btn {
	margin-right: 15px
}
.social-icons {
	padding-top: 10px;
	margin-bottom: 35px;
}
.social-icons .btn.btn-clear {

}

.btn-round {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: inline-block;
	padding: 0
}
.btn-round i {
	font-size: 20px;
	top: 15px;
	position: relative
}
.btn.btn-clear {
	color: #fff;
	background: 0 0;
	background-color: none;
	font-weight: 700;
  border: 1px solid white;
	-webkit-transition-duration: .8s;
	-moz-transition-duration: .8s;
	-o-transition-duration: .8s;
	transition-duration: .8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}
.btn.btn-clear.selected, .btn.btn-clear:hover {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
  background-color: white;
	-o-transform: rotate(0deg)
}
.btn-twitter:hover {
	color: #2BA9E0;
}
.btn-facebook:hover {
	color: #204385
}
.btn-linkedin:hover {
	color: #015786
}
.btn-google:hover {
	color: #D3492C
}
.btn-behance:hover {
  color: #2255FF;
}

.spacer {
	width: 100px;
	height: 2px;
	margin: auto;
	color: #000;
}

.page-header {
  border-bottom: 0;
}


#portfolio .portfolio-item {
  margin-bottom: 0.15em;
}
#filters {
  margin-bottom: 1em;
}
.nav-pills>li>a {
  color: #222;
  font-size: 20px;
  font-family: 'Source Sans Pro';
  text-transform:uppercase;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #222;  
}

#filters button {
  background: none;
  border-radius: 40px;
  padding: 0.5em 1.3em;
  border: none;
  color: #9c9c9c;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 1px 6px 1px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
#filters button:hover,
#filters button.active {
  border-color: #4c4c4c;
  color: #4c4c4c;
  font-weight: 600;
}
.grid {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.grid .portfolio-item {
  display: inline-block;
  margin: 0;
  padding: 20px 20px 0px 20px;
  position: relative;
  text-align: left;
}
.grid figure {
  margin: 0;
  overflow: hidden;
  position: relative;
  background-color: rgba(44, 46, 53, 0.7);
  border-radius: 4px;
}
.grid figure .info {
  padding: 0;
  position: absolute;
  bottom: -60px;
  z-index: 100;
  width: 100%;
  text-align: center;
}
.grid figure .info h3 {
  font-size: 1.5em;
  margin-bottom: 4px;
}
.grid figure .info span {
  color: white;
}
.grid figure img {
  display: block;
  width: 100%;
  border-radius: 4px;
  position: relative;
}
.grid figcaption {
  background-color: rgba(44, 46, 53, 0.97);
  min-height: 35px;
  left: 0;
  padding: 16px 3px 0 0;
  position: absolute;
  text-align: center;
  top: 0;
  border-radius: 0 0 4px 4px;
}
.grid figcaption a {
  position: absolute;
  bottom: 20%;
}
.grid figcaption a.link,
.grid figcaption a.preview {
  display: inline-block;
  background: white;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #88b7b3;
  text-decoration: none;
}

.grid figcaption a.preview {
  left: 38%;
}
.grid figcaption a.link {
  right: 38%;
}
.grid figcaption a.link:hover,
.grid figcaption a.preview:hover {
  background: #fff;
  color: #68a49f;
  transition: background 0.1s linear 0.1s;
}
.grid figcaption span {
  color: #fff;
  font-style: italic;
  padding: 0 10px 0 10px;
}
.grid figcaption h3 {
  color: #fff;
}
.cs-style-1 figure {
  overflow: hidden;
}
.cs-style-1 figure img,
.cs-style-1 figure .info {
  transition: all 0.4s;
}
.cs-style-1 figure:hover img {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}
.cs-style-1 figure:hover .info,
.cs-style-1 figure .info.active {
  transform: translateY(-185px);
  -webkit-transform: translateY(-185px);
}
.cs-style-1 figcaption {
  height: 100%;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -webkit-transform: translateY(100%);
}
.cs-style-1 figure:hover figcaption,
.cs-style-1 figure figcaption.active {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.5s, opacity 0.1s;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.1s;
  -webkit-transform: translateY(0px);
}
@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 100px 10px;
  }
  .grid li {
    width: 100%;
    min-width: 300px;
  }
}

.logos-special {
  margin: 70px 0 70px 0;
}

#page-portfolio {
  padding-bottom: 50px;
}
#grid-controls-wrapper {
  text-align: center;
  float: none;
  width: 100%;
}
.center-pills {
  display: inline-block;
}
#grid .mix {
  width: 30%;
  height: 200;
  vertical-align: top;
  margin: 20px 20px 10px 0;
  color: #fff;
  display: inline-block;
}
#grid .mix .thumbnail {
  border: 2px thin #F7F7F7;
  padding: 0;
  border-radius: 0;
}
#grid .gridtext {
  font-family: 'lora';
}
#grid .mix .overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
}
#grid .mix img {
  
}
#grid .mix li {
}
#grid .mix .overlay p {
  width: 100%;
  bottom: 0;  
  position: absolute;
  font-size: 18px;
  padding: 20px;
  color: white;
  background-color: rgba(24,24,24,0.9);
  margin: 0;
}

#grid .mix .overlay p em {
  color: #ddd;
  font-variant: 300;
}


#grid .mix .overlay .img-caption {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 30px;
  color: white;
  background-color: black;
}

#grid .mix .overlay-two-line {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
#grid .mix .overlay-two-line p {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 30px;
  color: white;
}
#grid .mix .overlay-two-line:hover {
  background-color: black;
  font-size: 20px;
  color: #fff;
  padding-top: 23%;
  opacity: 0.9;
}
.hide {
  position: absolute;
  left: -99999px;
}
.isotope-item {
  z-index: 2;
}
.isotope-block {
  position: absolute; 
  left: 0px; 
  top: 0px; 
  transform: translate3d(40px, 0px, 0px) scale3d(0.001, 0.001, 1); 
  opacity: 0;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
}
.isotope {  
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
.isotope .isotope-item.no-transition, .isotope.no-transition, .isotope.no-transition .isotope-item {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

img {
  max-width: 100%
}

.grey-area {
  background-color: #EEE;
}

.center {
  text-align: center;
}

.grey-area, h2 {
  color: #222;
}

.padded-twenty {
  padding: 20px;
}

.padded-ten {
  padding: 10px;
}

.padded-thirty {
  padding: 30px;
}

.padded-forty {
  padding: 40px;
}

.padded-fifty {
  padding: 50px;
}

#research {
  background: #eee;
  color: #fff;
}

#research h2 {
  color: white;
}

#research-one {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: url(../img/background.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#research-two {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: url(../img/background-two.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#research-three {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.research .row a {
  font-size: 40px;
  color: #fff;
  font-family: Lato;
  font-weight: 300;
}

.research .row a .icon {
  font-size: 90px;
  
}

.one-sixth {
  width: 16%;
}

.five-sixths {
  width: 84%;
}

.three-quarters {
  width: 75%;
}

.row .inline-block {
  display: inline-block;
}

#files_wrapper .container {
  padding:50px 20px 20px 50px;
  border-bottom: 1px solid #222;
  max-width: 1000px;
}
#files_wrapper, #files_wrapper, #paper-one a {
  color:#222;
  font-size: 30px;
}
#files_wrapper, #files_wrapper, #paper-two a {color:#222;font-size: 16px}
#files_wrapper, #files_wrapper, #paper-three a {color:#222;font-size: 16px}
#files_wrapper #paper-one {}
.icon_text {
  font-family: 'Source Sans Pro';
  font-size: 30px;
}
#files_wrapper #paper-one .overlay {color: #222; position: absolute;width: 100%;height: 100%;}
#files_wrapper #paper-two {}
#files_wrapper #paper-three {}
#files_wrapper #paper-three .overlay {position: absolute;width: 100%;height: 100%}
#files_wrapper #paper-two .container {
  padding-top: 30px;
  padding-bottom: 30px;
} 
#files_wrapper #paper-three .container {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom:  none;
} 


#files_wrapper #paper-two .overlay {position: absolute;width: 100%;height: 100%;}
#files_wrapper span.icon {display: block;border: 1px solid #222;float: left;width: 80px;height: 80px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  margin-right: 65px;
  position: relative;z-index: 10;
}
#files_wrapper span.icon.icon-right {display: block;border: 1px solid #222;float: left;width: 80px;height: 80px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 40px;
  text-align: center;
  margin-right: 65px;
  position: relative;z-index: 10;
}


#files_wrapper span.icon.icon_text {font-size:25px;line-height: 80px;margin-top: 20px;font-family: "Source Sans Pro"}
#files_wrapper span.icon.icon_font {font-size: 40px;line-height: 80px;margin-top: 20px;}
#files_wrapper span.text {display: block;font-size: 28px;font-weight: 600;font-family: "Source Sans Pro";position: relative;z-index: 10;}
#files_wrapper span.event {padding-left: 145px; display: block;font-size: 25px;font-weight: 400;font-family: "Source Sans Pro";position: relative;z-index: 10;}
#files_wrapper a, #files_wrapper a i, #files_wrapper a span.icon {
  -webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
text-decoration: none;
}
#files_wrapper a:hover {
   background-color: #222;
}
#files_wrapper a:hover span.icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#files_wrapper a:hover span.icon.icon_font {
-moz-transform: rotate(-180deg);
-webkit-transform: rotate(-180deg);
-o-transform: rotate(-180deg);
-ms-transform: rotate(-180deg);
transform: rotate(-180deg);
}

.other-backgrounds {
  display: none;
}

.background-one {
  background: url('../img/ux.jpg');
  color: #FFF;
  background-position: top;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-one .inside-content {
  max-width: 1070px;
  margin: 0 auto;
  color: #eee;
  margin-top: 50px;
}

.background-one .inside-content h1 {
  max-width: 1070px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 110px;
  -webkit-font-smoothing: antialiased;
}

.background-one .inside-content h2 {
  max-width: 1070px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 200;
  padding-top: 40px;
  text-transform:lowercase;
  font-size: 50px;
  margin-top: 50px;
}

/* Second background */

.background-two {
  background: url('../img/typography2.jpg');
  color: #FFF;
  background-position: top;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-two .inside-content {
  max-width: 1070px;
  margin: 0 auto;
  color: #eee;
  margin-top: 50px;
}

.background-two .inside-content h1 {
  max-width: 1070px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Roboto Slab', Book Antiqua, 'Lora';
  font-weight: 400;
  font-size: 120px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -webkit-font-smoothing: antialiased;
}

.background-two .inside-content h2 {
  max-width: 1070px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 200;
  padding-top: 40px;
  text-transform:lowercase;
  font-size: 50px;
  margin-top: 100px;
}

/* Third background */

.background-three {
  background: url('../img/graphic.jpg');
  color: #FFF;
  background-position: top;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-three .inside-content {
  max-width: 1070px;
  margin: 0 auto;
  color: #eee;
  margin-top: 50px;
}

.background-three .inside-content h1 {
  max-width: 1070px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Playfair Display', Book Antiqua;
  font-weight: 400;
  font-size: 115px;
  -webkit-font-smoothing: antialiased;
}

.filter .active {
  background-color: black;
}

.background-three .inside-content h2 {
  max-width: 1070px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 200;
  padding-top: 40px;
  text-transform:lowercase;
  font-size: 50px;
  margin-top: 100px;
}

/* Fourth Background */

.background-fourth {
  background: url('../img/code.jpg');
  color: #FFF;
  background-position: top;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-fourth .inside-content {
  max-width: 1070px;
  margin: 0 auto;
  color: #eee;
  margin-top: 50px;
}

.background-fourth .inside-content h1 {
  max-width: 1070px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  text-transform:lowercase;
  font-size: 120px;
  -webkit-font-smoothing: antialiased;
}

.background-fourth .inside-content h2 {
  max-width: 1070px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 200;
  padding-top: 40px;
  text-transform:lowercase;
  font-size: 50px;
  margin-top: 100px;
}


.direction {
  padding-top: 250px;
  color: white;
  opacity: 0.9;
}

#slides .container #social-icons {
  padding: 20px 0 0 15px;
}

#slides .container #social-icons a  {
  margin-top: 0 auto;
  opacity: 1;
}

#slides .container #social-icons a:hover {
  margin-top: 0 auto;
  opacity: 1;
}

.footer {
  height: 100px;
  background-color: #333;
}

#footer-text {
  color: #fff;
  font-size: 20px;
  padding-top: 40px;
  font-weight: 300;
}